---
import config from '~/config';
import { socials } from '~/data';
import { Icon } from 'astro-icon/components';

const fullName = config.fullName;
---

<footer class="bg-gray-800 text-white font-mono px-6 py-8">
  <div class="container mx-auto flex justify-between place-items-center">
    <span>
      {fullName}
    </span>
    <div class="flex gap-4">
      {
        socials.map(({ title, icon, href }) => (
          <a href={href} title={title} target="_blank" rel="noreferrer" class="p-2">
            <Icon
              name={icon}
              class="h-6 w-6 fill-white hover:fill-secondary transition-all duration-300 hover:rotate-6"
              title={title}
            />
          </a>
        ))
      }
    </div>
  </div>
</footer>
