---
import config from '~/config';
import { socials } from '~/data';
import { Sprite } from 'astro-iconify';

const fullName = config.fullName;
---

<footer class="bg-gray-800 text-white font-mono px-6 py-8">
  <div class="container mx-auto flex justify-between place-items-center">
    <span>
      {fullName}
    </span>
    <div class="flex gap-4">
      {
        socials.map(({ title, pack, icon, href }) => (
          <a href={href} title={title} target="_blank" rel="noreferrer" class="p-2">
            <Sprite
              pack={pack}
              name={icon}
              class="h-6 w-6 fill-white hover:fill-purple-500 transition-colors duration-300"
            />
          </a>
        ))
      }
    </div>
  </div>
</footer>
