---
import { t } from 'i18next';
import type { CollectionEntry } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import { formatDate } from '~/utils/dates';
import { findImage } from '~/utils/images';

interface Props {
  entry: CollectionEntry<'experience'>;
  index: number;
}

const { entry, index } = Astro.props;

const fromDate = formatDate(entry.data.fromDate);
const toDate = formatDate(entry.data.toDate) || t('now');
const image = await findImage(entry.data.logo);
---

<div class={`my-12 flex justify-between items-center ${index % 2 === 0 ? '' : 'lg:flex-row-reverse'}`}>
  <div class="order-1 w-5/12 hidden lg:block"></div>
  <div class="z-20 flex items-center order-1 bg-secondary-dark dark:bg-secondary shadow-xl w-8 h-8 rounded-full">
    <div class="mx-auto font-semibold text-lg text-white"></div>
  </div>
  <div
    class="order-1 bg-gray-100 dark:bg-opacity-10 rounded-lg shadow-xl w-10/12 lg:w-5/12 px-8 py-6"
    data-aos={index % 2 === 0 ? 'fade-left' : 'fade-right'}
  >
    <div class="float-right m-2 p-2 rounded dark:bg-gray-200">
      <Picture
        src={image}
        alt={entry.data.company}
        widths={[64]}
        sizes="64px"
        aspectRatio="1:1"
        background={undefined}
      />
    </div>
    <div class="text-sm capita text-secondary">
      <time datetime={entry.data.fromDate.toISOString()}>{fromDate}</time>
      -
      <time datetime={entry.data.toDate?.toISOString()}>{toDate}</time>
    </div>
    <h3 class="mb-3 font-bold text-lg lg:text-2xl text-gray-800 dark:text-gray-100">
      {entry.data.title}
      <span class="block font-semibold">
        {`${t('at')} ${entry.data.company}`}
      </span>
    </h3>
    <p class="text-sm leading-snug tracking-wide text-opacity-100">
      {entry.body}
    </p>
    <a href={entry.data.website} class="mt-2 mr-3 text-sm float-right text-secondary">
      {entry.data.company}
    </a>
  </div>
</div>
